@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body { font-family: 'Fira Sans', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3, h4 { font-family: 'Fira Sans'; }
.remark-code, .remark-inline-code { font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace; }